@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
* {
  font-family: "Roboto";
}
html {
  margin: 0;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;

  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

  background: #081011; /* Old browsers */
  background: linear-gradient(to bottom, #94a698 0%, #da61a4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login {
  margin-top: 4%;
  margin-left: 13%;
  float: left;
}
h1,
label {
  color: #e0e0e0;
}
span {
  font-weight: 330;
}

input[type="password"]:focus {
  border-color: #1565c0;
}

.time {
  float: right;
  margin-right: 10%;
  margin-top: 4%;
}
.time {
  font-size: 1.7rem;
  color: #e0e0e0;
  text-shadow: 0 1px 5px black;
}
h1 {
  text-shadow: 0 1px 5px black;
}
.hour {
  font-size: 3.2rem;
}
.other {
  color: #ddd;
  font-size: 100%;
}

.others {
  color: #ddd;
  font-size: 90%;
}
.profbtn {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  padding: 7px 15px 7px 15px;
}
.logoutbtn {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  padding: 7px 15px 7px 15px;
}

.logoutbtn:hover {
  color: #ffffff;

  background-color: rgb(1, 1, 2);
}
.profbtn:hover {
  color: #ffffff;

  background-color: rgb(1, 1, 2);
}
